<header>
  <div class="container navbar-container">
    <a href="/" class="logo-wrapper">
      <img src="../../static/assets/logo.png" alt="logo" class="logo" />
      <span class="nav-title" style="font-size: 1.5em; font-weight: bold;">Taskify</span>
    </a>

    <nav>
      <ul class="nav-items">
        <li><a href="#">Features</a></li>
        <li><a href="#">Templates</a></li>
        <li><a href="#">For Teams</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
    </nav>
    <div class="nav-buttons">
      <a href="/signup" class="btn1 nav-btn">Sign Up</a>
      <a href="/dashboard" class="btn2 nav-btn">Log In</a>
    </div>
  </div>
</header>
