<main>
  <section class="dashboard-cards-section section">
    <div class="dashboard-cards-container container">
      <div class="dashboard-head">
        <div class="dashboard-project">Projects</div>

        <div class="dashboard-select">
          <select class="dashboard-custom-select">
            <option value="dashboard-This Day">This Day</option>
            <option value="dashboard-This Week">This Week</option>
            <option value="dashboard-This Month">This Month</option>
            <option value="dashboard-This Year">This Year</option>
          </select>
        </div>
      </div>

      <div class="dashboard-cards-container-list">
        <div class="dashboard-card card-1">
          <div class="dashboard-card-head">
            <div class="dashboard-card-topic">To do</div>
            <div class="dashboard-task-number">0</div>
          </div>
          <div class="dashboard-add-button">+</div>
          <div class="dashboard-card-body">
            <div class="dashboard-task task-1">
              <div class="dashboard-task-head">
                Lorem ipsum dolor sit amet.
              </div>
              <div class="dashboard-task-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur modi quia praesentium molestias ullam.
              </div>
            </div>
            <div class="dashboard-task task-2">
              <div class="dashboard-task-head">
                Lorem ipsum dolor sit amet.
              </div>
              <div class="dashboard-task-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur modi quia praesentium molestias ullam.
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard-card card-2">
          <div class="dashboard-card-head">
            <div class="dashboard-card-topic">In progress</div>
            <div class="dashboard-task-number">0</div>
          </div>
          <div class="dashboard-add-button">+</div>
          <div class="dashboard-card-body">
            <div class="dashboard-task task-1">
              <div class="dashboard-task-head">
                Lorem ipsum dolor sit amet.
              </div>
              <div class="dashboard-task-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur modi quia praesentium molestias ullam.
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard-card card-3">
          <div class="dashboard-card-head">
            <div class="dashboard-card-topic">Completed</div>
            <div class="task-number">0</div>
          </div>
          <div class="dashboard-add-button">+</div>
          <div class="dashboard-card-body">
            <div class="dashboard-task task-1">
              <div class="dashboard-task-head">
                Lorem ipsum dolor sit amet.
              </div>
              <div class="dashboard-task-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur modi quia praesentium molestias ullam.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
