<section class="achievements-section">
    <div class="achievements-container">
        <div class="achievement-item">
            <img src="/static/assets/achievement-1.webp" alt="Achievement 1" class="achievement-icon"> 
            <h3 class="achievement-title"><%= t.achievements.downloads %></h3>
        </div>
        <div class="achievement-item">
            <img src="/static/assets/achievement-2.webp" alt="Achievement 2" class="achievement-icon"> 
            <h3 class="achievement-title"><%= t.achievements.tasks %></h3>
        </div>
        <div class="achievement-item">
            <img src="/static/assets/achievement-3.webp" alt="Achievement 3" class="achievement-icon"> 
            <h3 class="achievement-title"><%= t.achievements.colleges %></h3>
        </div>
        <div class="achievement-item">
            <img src="/static/assets/achievement-4.webp" alt="Achievement 4" class="achievement-icon"> 
            <h3 class="achievement-title"><%= t.achievements.pro_users %></h3>
        </div>
    </div>
</section>
