<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-col-text">
      <div>
        <h1 class="hero-heading"><%= t.hero.heading %></h1>
      </div>
      <div class="hero-desc">
        <p><%= t.hero.desc %></p>
      </div>
      
      <input class="hero-input-email" type="email" name="email" id="hero-email" placeholder="<%= t.hero.placeholder %>">
    
      <a href="#" class="hero-btn"><%= t.hero.btn %></a>
    </div>
    
    <div class="hero-col-img">
      <img class="hero-image" src="/static/assets/laptop.png" alt="Taskify dashboard on a laptop">
    </div>
   </div>
</section>
